
#blocklyDiv {
    width: auto;
    margin-top: 2em;
}
.blocklySvg {
    display: block;
}

#codeDiv {
  margin-top: 2em;
  border: 1px solid #c6c6c6;
}
#codeDiv > pre {
  background-color: transparent ;
  border: none;
}
